@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
        
        body {
            font-family: 'Poppins', sans-serif;
        }

        .hero {
            min-height: 100vh;
            background: 
                url('../images/PIA01492~large.jpg') center/cover no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
        }

/*=====================================*/